<section class="agenda" id="agenda">
  <h2>Agenda</h2>
  <table class="table">
    <tbody>
    <% @item[:agenda] && @item[:agenda].each_with_index do |agenda, i| %>
        <tr>
          <th scope="row">
              <%= agenda[:time] %> <%= "pm" unless agenda[:time].ends_with?('m') %>
          </th>
          <td class="speaker-detail">
          <% if agenda[:speakers] %>
            <% if agenda[:video_link] %>
              <strong><a href="<%= agenda[:video_link] %>" target="_blank" class="link"><%= agenda[:title] %></a></strong>
            <% else %>
              <strong><%= agenda[:title] %></strong>
            <% end%>

            <% if agenda[:subtitle] %>
                <p><%= agenda[:subtitle] %></p>
            <% end %>

            <% agenda[:speakers].each_with_index do |speaker, i| %>

                <div class="media">
                  <div class="media-left">
                    <% if speaker[:image] %>
                      <% if speaker[:profile] %>
                        <a href="<%= speaker[:profile] %>" rel="nofollow" target="_blank">
                          <img class="img" src="img/speaker/<%= speaker[:image] %>" alt="<%= speaker[:name] %>" />
                        </a>
                        <% else %>
                          <img class="img" src="img/speaker/<%= speaker[:image] %>" alt="<%= speaker[:name] %>" />
                        <% end %>
                    <% else %>
                      <img class="img" src="img/speaker/no_user_image.svg" alt="<%= speaker[:name] %>" />
                    <% end %>
                  </div>
                  <div class="media-body">
                    <strong class="media-heading"><%= speaker[:name] %></strong>
                    <% if speaker[:description] %>
                      <p><%= speaker[:description] %></p>
                    <% end %>
                  </div>
                </div>
            <% end %>
          <% else %>
            <% if agenda[:video_link] %>
              <a href="<%= agenda[:video_link] %>" target="_blank" class="link"><%= agenda[:title] %></a>
            <% else %>
              <strong><%= agenda[:title] %></strong>
            <% end%>

            <% if agenda[:subtitle] %>
              <p><%= agenda[:subtitle] %></p>
            <% end %>
          <% end %>

          <% if agenda[:resources] %>
            <p><small>Resources:
              <% agenda[:resources].each_with_index do |resource, i| %>
                <a href="<%= resource[:url] %>" rel="nofollow" target="_blank" class="link"><%= resource[:title] %></a>
                <%= ' &bull; ' if i != agenda[:resources].length - 1 %>
              <% end %>
            </small></p>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
