<section id="all-editions" class="archive">
    <h2>All Editions</h2>
    <table class="table">
      <tbody>
      <tr>
        <th>
          <%= latest[:start].to_date.strftime("%Y") %>
        </th>
        <td>
          <a href="/">Edition <%= latest[:edition] %></a>
        </td>
      </tr>
      <% archives.each do |archive| %>
        <tr>
          <th>
            <%= archive[:start].to_date.strftime("%Y") %>
          </th>
          <td>
            <a href="/edition-<%= archive[:edition]%>.html">Edition <%= archive[:edition] %></a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
</section>
